.container{
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;
}
header,footer{
    background-color: rgb(200, 241, 241);
}
.headeritem{
    grid-area: header;
}
form{
    display: flex;
    grid-area: main;
}
form div{
    width: 50%;
}
label{
    font-weight: bold;
}
input{
    margin-left: 10px;
}
p{
    text-decoration: underline;
}
/* .formleft{
    grid-area: main1;
    width: 100%;
}
.formright{
    grid-area: main2;
    width:100%;
    float: right;
} */
.footeritem{
    grid-area: footer;
    
}
